.Homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/movie-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  padding: 176px 20px;
}

@media (max-width: 900px) {
  .Homepage h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .Homepage h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .Homepage h3 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }

  .Homepage a {
    padding: 10px 20px;
  }
}

@media (min-width: 900px) {
  .Homepage h3 {
    display: none;
  }
}