.Homepage {
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/movie-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 160px 20px;
}

.Homepage a {
  background: #E23175;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;
  margin-top: 32px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .Homepage {
    padding: 60px 0;
  }
  .Homepage h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .Homepage h2 {
    font-size: 20px;
  }
  .Homepage h3 {
    font-size: 40px;
  }
  .Homepage a {
    padding: 10px 20px;
  }
  }

@media (min-width: 774px) {
  .Homepage h3 {
    display: none;
  }
    
}